header.header {
  background-image: url("../img/logo 1.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: fixed;
  z-index: 1050;
  width: 100%; 
}
header.header nav {
  padding: 0; 
}
header.header nav .navbar-toggler {
  border-color: antiquewhite;
  padding: .75rem; 
}
header.header nav .navbar-toggler i {
  color: antiquewhite; 
}
header.header nav .navbar-toggler .navbar-toggler-icon {
  background-image: url("../img/menu-icon.svg"); 
}
header.header nav .navbar-brand {
  width: 100px;
  height: 100px; 
  -webkit-transition: 1.5s ease;
  transition: 1.5s ease;
}
header.header nav .navbar-brand:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
header.header nav .navbar-brand img {
  width: 100%;
  height: 100%; 
}
header.header nav #navbarNav {
  justify-content: flex-end; 
}
header.header nav #navbarNav ul.navbar-nav li {
  padding: 25px 15px; 
}
header.header nav #navbarNav ul.navbar-nav li a {
  font-family: 'Chelsea Market', cursive;
  color: antiquewhite;
  font-size: 2rem; 
  transition: all 0.4s ease;
  -webkit-transition: 1s linear;
  transition: 1s linear;
}
header.header nav #navbarNav ul.navbar-nav li a:hover {
  color: rgb(167, 23, 23);
  -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.50);
  box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.50);
  border-radius: 70px;
}

main {
  min-height: 80vh;
  background-image: url("../img/metal.jpg");
  background-attachment: fixed;
  background-size: 100%;
  padding-top: 115px; 
  overflow: hidden;
}
/* @media (max-width: 1200.98px) {
  main {
    padding-top: 100px; 
  }  */
}
main h2 {
  font-family: 'Chelsea Market', cursive;
  text-align: center;
  font-size: 3rem;
  color: antiquewhite; 
}
main p {
  font-family: 'Chelsea Market', cursive;
  color: antiquewhite; 
}

#carouselExampleIndicators {
  position: relative;
  height: 70vh;
  margin-bottom: 30px;
  overflow: hidden; 
  } 
  .carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 25%; 
}
h2 {
  animation-duration: 4s;
  animation-name: h2;
}
@keyframes h2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sobre-nosotros {
  padding-top: 115px; 
}
.sobre-nosotros h2 {
  padding-bottom: 20px; 
}
.sobre-nosotros p {
  text-align: center; 
}

.integrantes {
  padding-top: 115px; 
}
.integrantes .container {
  border-top: 2px solid antiquewhite; 
}
.integrantes h2 {
  padding: 50px 0 20px; 
}
.integrantes .miembros {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between; 
}
.integrantes .miembros .integrante {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 30px; 
}
@media (max-width: 1200px) {
  .integrantes .miembros .integrante {
    flex-wrap: wrap; 
  } 
}
.integrantes .miembros .integrante .nombre {
  padding: 30px 30px 30px 0;
  color: antiquewhite;
  font-family: 'Chelsea Market', cursive;
  font-size: 1.5rem;
  letter-spacing: 1mm; 
}
@media (max-width: 1200px) {
  .integrantes .miembros .integrante .nombre {
    text-align: center; 
  } 
}
.integrantes .miembros .integrante.reverse {
  flex-direction: row-reverse; 
}
.integrantes .miembros .integrante.reverse .nombre {
  padding: 30px 0 30px 30px; 
}
.integrantes .miembros .integrante .imagen-miembro {
  border-radius: 150px;
  border: solid 2px antiquewhite;
  flex: 0 0 300px;
  height: 300px;
  overflow: hidden;
  position: relative;
  width: 300px; 
  -webkit-transition: 1.5s ease;
  transition: 1.5 ease;
  /* animation-iteration-count: infinite; */
}
.integrantes .miembros .integrante .imagen-miembro:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.integrantes .miembros .integrante .imagen-miembro img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1; 
}

.galeria {
  padding-top: 115px; 
}
.galeria .container {
  border-top: 2px solid antiquewhite; 
}
.galeria .margin-top-50 {
  margin-top: 50px; 
}

.galeria h2 {
  padding: 50px 0 20px; 
}
.galeria .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px; 
}
@media (max-width: 576px) {
  .galeria .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .galeria .grid .columna-3 {
    grid-column-start: 1;
    grid-column-end: 3;
  
  }
}
.galeria .grid .columna .imagen {
  width: 100%;
  overflow: hidden; 
}
.galeria .grid .columna .imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
.galeria .grid .columna-1, .galleria .grid .columna-2 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  gap: 15px; 
}
.galeria .grid .columna-3 .imagen {
  height: 100%; 
}
.noticias {
  padding-top: 115px;
  padding-bottom: 100px; 
}
.noticias .container {
  border-top: 2px solid antiquewhite; 
}
.noticias .margin-top-50 {
  margin-top: 50px; 
}
.noticias h2 {
  padding: 50px 0 20px; 
}

/* FORMULARIO DE CONTACTO */

.formulario {
  margin: 0 auto;
  margin-bottom: 50px;
}
#contacto h2 {
margin: 70px;
}

#contacto .container .formulario {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

/* .frase img {
  width: 400px;
  height: 300px;
}

.frase img {
  display: flex;
  } */


/* ESTILO SACADO DE: https://codepen.io/paulocesarpcfj/pen/XbQGmp */

*:focus {
  outline: none;
}

.inputGroup {
  position: relative;
  margin-bottom: 30px;
}

.inputGroup label {
  position: absolute;
  top: 0;
  left: 5px;
  pointer-events: none;
  transition: all 0.3s ease;
  font-size: 16px;
  font-family: Trebuchet MS;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
}

.inputGroup input,
.inputGroup textarea {
  display: block;
  width: 280px;
  border: none;
  border-bottom: 1px solid #757575;
  left: 25px;
  padding: 5px;
  font-family: Trebuchet MS;
  background: none;
  color: #ccc;
}

.inputGroup input:focus ~ label,
.inputGroup input:valid ~ label,
.inputGroup textarea:focus ~ label,
.inputGroup textarea:valid ~ label {
  top: -20px;
  transition: all 0.3s ease;
  font-size: 13px;
}

.inputGroup input:focus ~ .inputBar:before,
.inputGroup input:focus ~ .inputBar:after,
.inputGroup textarea:focus ~ .inputBar:before,
.inputGroup textarea:focus ~ .inputBar:after {
  width: 50%;
}

.inputGroup textarea {
  height: 100px;
  width: 280px;
  overflow: auto;
  resize: none;
}

.inputGroup .inputBar {
  position: relative;
  display: block;
  width: 290px;
}

.inputGroup .inputBar:before,
.inputGroup .inputBar:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 0;
  background: white;
  height: 2px;
  transition: all 0.2s ease;
}

.inputGroup .inputBar:after {
  right: 50%;
}

.inputGroup .inputBar:before {
  left: 50%;
}

button.enviar{
  background-color: white;
  border: none;
  padding: 15px 0;
  margin: 0;
  width: 290px;
  color: #3c3c3c;
  text-transform: uppercase;
  font-family: Trebuchet MS;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 6px #a1a1a1;
  position: relative;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 4px #a1a1a1;
  top: 2px;
}

button:active {
  top: 6px;
  box-shadow: 0 0;
}


footer {
  background-image: url("../img/Omi grupal.jpg");
  background-size: 100%;
  background-position: 30% 35%;
  background-repeat: no-repeat;
  text-align: center;
  padding: 40px 0 20px; 
}


footer ul.redes-sociales {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 0 30px 0; 
}
footer ul.redes-sociales li {
  list-style: none;
  padding: 10px; 
}
footer ul.redes-sociales li::marker {
  content: none; 
}
footer ul.redes-sociales li a {
  background-color: antiquewhite;
  border-radius: 50%;
  height: 40px;
  position: relative;
  width: 40px;
  display: inline-block; 
  transition: all 0.4s ease;
}
footer ul.redes-sociales li a i {
  color: black;
  transform: translate(-50%, -50%);
  position: absolute;
  bottom: unset;
  left: 50%;
  top: 50%; 
  }
footer ul.redes-sociales li a:hover {
  background-color: rgba(250, 235, 215, 0.5); 
}
footer .copyright {
  font-family: 'Chelsea Market', cursive;
  font-size: 1rem;
  color: antiquewhite; 
}


